<ion-header>
  <ion-toolbar>
    <ion-title>css-util</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <!-- css util--> 
  <div hidden>
      <p>this exmple of p only </p>
      <p text-right style="color: yellow">this exmple of p text-right only</p>
      <p text-left>this exmple of p text-left only</p>
      <p text-start>this exmple of p text-start only</p>
      <p text-end>this exmple of p text-end only</p>
      <p text-center>this exmple of p text-center only</p>
  
      <p style="text-align:center">this exmple of p style text-align:center use</p>
      <p class="right">this exmple of p css class use for text-right</p>
  </div>
  <!-- Content Space Use--> 
  <div hidden>
    <h4>Content Space Use </h4>
    <p text-sm-right>this exmple of p only text-sm-right use  </p>
    <p text-sm-center>this exmple of p text-sm-center use</p>
  </div>
  <!-- Content Space Use element Padding --> 
<div>
  <ion-grid style="background-color: aquamarine" >
    <ion-row style="background-color: black" padding>
      <ion-col style="background-color: red" ion-padding-bottom> this exmple of p only</ion-col>
      <ion-col style="background-color: blue" ion-padding-horizontal> this exmple of p </ion-col>
      <ion-col style="background-color: yellow" ion-padding-start> this exmple of p </ion-col>
    </ion-row>
  </ion-grid>
</div>

</ion-content>
